{% extends 'base.html' %}

{% block style %}
<style>
    .bgimg {
        background-image: url('images/background.jpg');
    }

    .w3-btn {
        width: 150px;
    }

    td {
        text-align: center;
    }

    .insert {
        padding-top: 50px;
    }

    .about {
        margin-left: 40%;
    }
</style>

{% endblock %}

{% block body %}
        <!-- Main section about painting -->
        <div class="bgimg">
            <h1 class="header" style="text-align:center;font-size:60px;font-family:Jazz LET, fantasy">About Us</h1>

            <section>


                <div class="seven wide column">

                    <!-- Main Info -->
                    <div class="ui segment">
                        <div class="item">


                            <ul class="ui divided items" id="paintingsList">

                                <li class="item">
                                    <a class="ui small image" href="https://www.linkedin.com/in/kwabena-g-bawuah/?originalSubdomain=ca"><img src="images/kwabena.png"></a>
                                    <div class="content">
                                        <a class="header" href="https://www.linkedin.com/in/kwabena-g-bawuah/?originalSubdomain=ca">Kwabena Gyasi Bawuah</a>
                                        <div class="meta"><span class="cinema">Electrical Engineering</span></div>
                                        <div class="description">

                                        </div>
                                    </div>
                                </li>

                                <li class="item">
                                    <a class="ui small image" href="https://www.linkedin.com/in/izunna-i-otiji-78243a1a6/?originalSubdomain=ca"><img src="images/izuna.png"></a>
                                    <div class="content">
                                        <a class="header" href="https://www.linkedin.com/in/izunna-i-otiji-78243a1a6/?originalSubdomain=ca">Izunna Otiji</a>
                                        <div class="meta"><span class="cinema">Electrical Engineering</span></div>
                                        <div class="description">

                                        </div>
                                    </div>
                                </li>

                                <li class="item">
                                    <a class="ui small image" href="https://www.linkedin.com/in/justin-sward-55ab54113/?originalSubdomain=ca"><img src="images/Justin.png"></a>
                                    <div class="content">
                                        <a class="header" href="https://www.linkedin.com/in/justin-sward-55ab54113/?originalSubdomain=ca">Justin Sward</a>
                                        <div class="meta"><span class="cinema">Electrical Engineering</span></div>
                                        <div class="description">

                                        </div>
                                    </div>
                                </li>

                                <li class="item">
                                    <a class="ui small image" href="https://www.linkedin.com/in/marion-ajijala-a3293a186/?originalSubdomain=ca"><img src="images/marion.png"></a>
                                    <div class="content">
                                        <a class="header" href="https://www.linkedin.com/in/marion-ajijala-a3293a186/?originalSubdomain=ca">Marion Ajijala</a>
                                        <div class="meta"><span class="cinema">Electrical Engineering</span></div>
                                        <div class="description">

                                        </div>
                                    </div>
                                </li>

                                <li class="item">
                                    <a class="ui small image" href="https://www.linkedin.com/in/mohamed-ahmed-osman-53440b1a9/?originalSubdomain=ca"><img src="images/ahmed.png"></a>
                                    <div class="content">
                                        <a class="header" href="https://www.linkedin.com/in/mohamed-ahmed-osman-53440b1a9/?originalSubdomain=ca">Ahmad Osman</a>
                                        <div class="meta"><span class="cinema">Electrical Engineering</span></div>
                                        <div class="description">

                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <!-- Tabs For Details, Museum, Genre, Subjects -->


                </div>	<!-- END RIGHT data Column -->




            </section>		<!-- END Main Section -->



        </div><!-- END div for background -->

    {% endblock %}