{% extends 'base.html' %}

{% block style %}
<style>
.bgimg {
    background-image: url('/static/images/background.jpg');
}
.w3-btn {
	width:150px;
}
td{
	text-align:center;
}
.buttombutton{
	padding-top: 50px;
	padding-right: 46%;
	padding-bottom: 50px;
	padding-left: 46.5%;
}
.book1{
	margin-left: 40%;
}
.book2{
	margin-left: 40%;
}
.book3{
	margin-left: 40%;
}
</style>
{% endblock %}

{% block body %}

<!-- Main section about painting -->
	<div class="bgimg">
	<h1 class="header" style="text-align:center;font-size:60px;font-family:Jazz LET, fantasy">Elec 4907 Circuit Simulator</h1>

	<section>
        
		<div class="ui doubling stackable grid container">
				
            <div class="seven wide column">
                
                <!-- Main Info -->
				<div class="ui segment">
                <div class="item">
					<h2 class="header">Build and simulate circuits right in your browser.</h2>
					
					<div class="meta">
						<ul>
						<li>Design circuits by inserting netlist</li>
						<li>Analog and digital circuit simulations </li>
						<li>Schematic, wiring diagrams and plots of netlist inserted</li>
						<!-- remeber to put href value in link -->
						<li>No need to Install anything! Launch it instanmtly when needed on a <em><a href="/simulate">single click.</a></em></li>
						</ul>
					</div>  
                </div>                          
                </div>
                <!-- Tabs For Details, Museum, Genre, Subjects -->
				<div class="ui segment">
				<!-- <a class = "item"><i class="paint brush icon"></i> Launch Circuit Office</a> -->
				
				
				<!-- remeber to put href value in link -->
					
					<form action="/simulate">
						<p><button type="submit" class="w3-button w3-black w3-round-xlarge">Launch Circuit Office</button></p>
					</form>
					<p style="text-align:right"><a href="/simulate"><em>or watch a quick demo video</em> →</a></p>
				</div>
				
                                     
                          
            </div>	<!-- END RIGHT data Column --> 
			
		
			
			<div class="nine wide column">
			<iframe width="530" height="375" src="http://www.youtube.com/embed/W7qWa52k-nE" frameborder="0" allowfullscreen style="border-radius:5px;"></iframe>
              <!-- <img src="images/art/works/medium/105010.jpg" alt="..." class="ui big image" id="artwork"> -->
               
                <!-- <div class="ui fullscreen modal"> -->
                  <!-- <div class="image content"> -->
                      <!-- <img src="images/art/works/large/105010.jpg" alt="..." class="image" > -->
                      <div class="description">
                      <p></p>
                    </div>
                  <!-- </div> -->
                <!-- </div>                 -->
                
            </div>	<!-- END LEFT Picture Column --> 
			
        </div>		<!-- END Grid --> 
    </section>		<!-- END Main Section --> 
	
	
    
    <!-- Tabs for Description, On the Web, Reviews -->
    <section class="ui doubling stackable grid container">
        <div class="sixteen wide column">
        
            <div class="ui top attached tabular menu ">
              <a class="active item" data-tab="first">Description</a>
              <!-- <a class="item" data-tab="second">On the Web</a> -->
              <a class="item" data-tab="third">Reviews</a>
            </div>
			
            <div class="ui bottom attached active tab segment" data-tab="first">
              <em>Circuit Office</em>(4th Year Final Project) is a a circuit simulator that resides in the cloud. It is implementated on the Google App Engine. Python, Html, CSS and JavaScript are used to implement this project on the Google App Engine. The project is broadly divided into the user interface, the part that involves constructing the equations to solve the system, the frequency-domain engine and the time-domain engine. Further enhancements to the project is made by implementing modules involving on-chip/off-chip transmission lines and power distribution networks.
            </div>	<!-- END DescriptionTab --> 
			
            <div class="ui bottom attached tab segment" data-tab="third">                
				<div class="ui feed">
					
				  <div class="event">
					<div class="content">
						<div class="date">12/14/2016</div>
						<div class="meta">
							<a class="like">
							  <i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i>
							</a>
						</div>                    
						<div class="summary">
							Lol!!! It was so helpful. Would be helpful if you could add a schematic to make the application more user friendly.
						</div>       
					</div>
				  </div>
					
				<div class="ui divider"></div>    
					
				  <div class="event">
					<div class="content">
						<div class="date">8/16/2016</div>
						<div class="meta">
							<a class="like">
							  <i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i>
							</a>
						</div>
						
						<div class="summary">
							Pretty decent!!!    
						</div> 
						
					</div>
				  </div>    
								
				</div>                                
            </div>   <!-- END Reviews Tab -->          
        
        </div>        
    </section> <!-- END Description, On the Web, Reviews Tabs --> 
    
    <!-- Related Images ... will implement this in assignment 2 -->    
    <section class="ui container">
    <h3 class="ui dividing header" id="target">Related Technical Textbooks</h3>  
	

	<div class="row">
	  <div class="book1" >
		<a class="ui small image" href="https://www.amazon.ca/Electronics-Circuits-Devices-Aldo-Karlmann/dp/1533611866" alt="First Image"><img src="/static/images/aldokarlmann.jpg"></a>
		<div class="meta"><span class="cinema">Electronics: Circuits and Devices </span></div>
		<div class="meta"><span class="cinema">Aldo Karlmann</span></div>
	  </div>
	  <div class="book2" >
	  <a class="ui small image" href="https://www.amazon.ca/Practical-Electronics-Inventors-Fourth-Scherz/dp/1259587541" alt="Second Image"><img src="/static/images/Paul Scherz.jpg"></a>
	  <div class="meta"><span class="cinema">Practical Electronics for Inventors</span></div>
	  <div class="meta"><span class="cinema">Paul Scherz</span></div> 
	  </div>
	  <div class="book3">
		<a class="ui small image" href="https://www.amazon.ca/Art-Electronics-Paul-Horowitz/dp/0521370957"><img src="/static/images/Paul Horowitz.jpg"></a>
		<div class="meta"><span class="cinema">The Art of Electronics Hardcover</span></div>
	  <div class="meta"><span class="cinema">Paul Horowitz</span></div> 
	  </div>
	</div>
	
	</section> 
		
		<div class="buttombutton">
			<form action="/simulate">
				<p><button type="submit" class="w3-button w3-black w3-round-xlarge">Launch Circuit Office</button></p>
			</form>
		</div>
		</div><!-- END div for background --> 
	

{% endblock %}
