{% extends 'base.html' %}

{% block style %}

<style>
	.bgimg {
		background-image: url('/static/images/background.jpg');
	}

	.w3-btn {
		width: 150px;
	}

	td {
		text-align: center;
	}

	.insert {
		padding-top: 50px;
	}
</style>

{% endblock %}

{% block body %}

<div class="bgimg">
	<main class="ui segment doubling stackable grid container">

		<section class="five wide column">
			<form class="ui form">
				<div>
					<h2 class="ui dividing header">Rules</h2>
					<b style="color:red">Rules must be followed to get the maxinmum results out of this prototype simulator.</b>
					<br>
					x = any number;
					<dl>
						<dt>Valid elememt reprentation:</dt>
						<dd>-Rx(Resitor x),....</dd>
						<dt>Parsed with commas(,)</dt>
						<dd>Values of elements for each input must be separated with commas</dd>
						<dt>End with a full stop(.)</dt>
						<dd>Each input field must be ended to indicate field end.</dd>
						<dt>Click Add</dt>
						<dd>After each line is inserted click add before typing the next line</dd>
						<dt>Click Display</dt>
						<dd>To view the inserted netlist</dd>
						<dt>Click Clear</dt>
						<dd>To empty netlist if there is a mistake in the inserted netlist. Display result again to ensure input is empty</dd>
						<dt>Click Solve</dt>
						<dd>After inserting the netlist in correct format, Insert value of element to solve for and then click solve for solutions</dd>
					</dl>
				</div>
			</form>
		</section>


		<section class="eleven wide column">
			<h1 class="ui header">Insert Netlist of Circuit in matrix</h1>
			<div class="content">
				
			</div>
		</section>
	</main>
</div>

{% endblock %}
